/**
 * Syntax highlighting styles
 * By default they are for the dark color scheme
 */
.highlight {
  
  @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: $code-background;
    }

  background: $code-background;
    

  .c { color: $base01 } /* Comment */
  .err { color: $magenta } /* Error */
  .g { color: $text-color } /* Generic */
  .k { color: $yellow } /* Keyword */
  .l { color: $text-color } /* Literal */
  .n { color: $text-color } /* Name */
  .o { color: $text-color } /* Operator */
  .x { color: #cb4b16 } /* Other */
  .p { color: $text-color } /* Punctuation */
  .cm { color: $base01 } /* Comment.Multiline */
  .cp { color: $orange } /* Comment.Preproc */
  .c1 { color: $orange } /* Comment.Single */
  .cs { color: #859900 } /* Comment.Special */
  .gd { color: #2aa198 } /* Generic.Deleted */
  .ge { color: $text-color; font-style: italic } /* Generic.Emph */
  .gr { color: #dc322f } /* Generic.Error */
  .gh { color: #cb4b16 } /* Generic.Heading */
  .gi { color: #859900 } /* Generic.Inserted */
  .go { color: $text-color } /* Generic.Output */
  .gp { color: $text-color } /* Generic.Prompt */
  .gs { color: $base0; font-weight: bold } /* Generic.Strong */
  .gu { color: #cb4b16 } /* Generic.Subheading */
  .gt { color: $text-color } /* Generic.Traceback */
  .kc { color: #cb4b16 } /* Keyword.Constant */
  .kd { color: $yellow } /* Keyword.Declaration */
  .kn { color: $yellow } /* Keyword.Namespace */
  .kp { color: #859900 } /* Keyword.Pseudo */
  .kr { color: #268bd2 } /* Keyword.Reserved */
  .kt { color: $yellow } /* Keyword.Type */
  .ld { color: $text-color } /* Literal.Date */
  .m { color: #2aa198 } /* Literal.Number */
  .s { color: #2aa198 } /* Literal.String */
  .na { color: $text-color } /* Name.Attribute */
  .nb { color: $orange } /* Name.Builtin */
  .nc { color: $text-color } /* Name.Class */
  .no { color: #cb4b16 } /* Name.Constant */
  .nd { color: $green } /* Name.Decorator */
  .ni { color: #cb4b16 } /* Name.Entity */
  .ne { color: #cb4b16 } /* Name.Exception */
  .nf { color: $text-color } /* Name.Function */
  .nl { color: $text-color } /* Name.Label */
  .nn { color: $text-color } /* Name.Namespace */
  .nx { color: $text-color } /* Name.Other */
  .py { color: $text-color } /* Name.Property */
  .nt { color: #268bd2 } /* Name.Tag */
  .nv { color: #268bd2 } /* Name.Variable */
  .ow { color: #859900 } /* Operator.Word */
  .w { color: $text-color } /* Text.Whitespace */
  .mf { color: $orange } /* Literal.Number.Float */
  .mh { color: $orange } /* Literal.Number.Hex */
  .mi { color: $orange } /* Literal.Number.Integer */
  .mo { color: $orange } /* Literal.Number.Oct */
  .sb { color: #586e75 } /* Literal.String.Backtick */
  .sc { color: #2aa198 } /* Literal.String.Char */
  .sd { color: $base01 } /* Literal.String.Doc */
  .s2 { color: #2aa198 } /* Literal.String.Double */
  .se { color: #cb4b16 } /* Literal.String.Escape */
  .sh { color: $base01 } /* Literal.String.Heredoc */
  .si { color: #2aa198 } /* Literal.String.Interpol */
  .sx { color: #2aa198 } /* Literal.String.Other */
  .sr { color: #dc322f } /* Literal.String.Regex */
  .s1 { color: #2aa198 } /* Literal.String.Single */
  .ss { color: #2aa198 } /* Literal.String.Symbol */
  .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
  .vc { color: #268bd2 } /* Name.Variable.Class */
  .vg { color: #268bd2 } /* Name.Variable.Global */
  .vi { color: #268bd2 } /* Name.Variable.Instance */
  .il { color: #2aa198 } /* Literal.Number.Integer.Long */

}
